h1{
    margin-bottom: 3vw;
    text-align: center;
    font-family:"Arial Black";
    font-size: 3rem;
    color:black;
}

h2{
    text-align: center;
    margin-bottom: 3vw;
    text-decoration: underline;
}

.col{
    padding: 1em;
}

.info{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

.datos-personales{
    background-color: rgb(252, 245, 251);
    padding: 3em;
}

.datos-personales p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.datos-profesionales{
    background-color:rgb(236, 230, 230);
    padding: 3em;
}

.descripcion{
    text-align: justify;
    margin-top: 80px;
}