<div class="container">
    <h1>Datos Candidato</h1>

    <div class="datos-profesionales">
        <h2>Datos Profesionales</h2>
        <div class="row">
            <div class="col">
                <p class="info">Estudios:</p>
                <p>{{usuario.estudios}}</p>
            </div>
            
            <div class="col">
                <p class="info">Profesión:</p>
                <p>{{usuario.profesion}}</p>
            </div>
        </div>
    </div>

    <div class="datos-personales">
        <h2>Datos Personales</h2>
        <div class="row">
            <div class="col">
            <p class="info">Nombre:</p>
            <p>{{usuario.nombre}}</p>
     </div>

    <div class="col">
            <p class="info">Apellidos:</p>
            <p>{{usuario.apellidos}}</p>
    </div>

    <div class="col">
            <p class="info">Dni:</p>
            <p>{{usuario.dni}}</p>
    </div>

    <div class="col">
            <p class="info">Género:</p>
            <p>{{usuario.genero}}</p>
    </div>
  </div>

    <div class="row">
        <div class="col">
        <p class="info">Teléfono:</p>
        <p>{{usuario.telefono}}</p>
    </div>

    <div class="col">
        <p class="info">Email:</p>
        <p>{{usuario.email}}</p>
    </div>

    <div class="col">
        <p class="info">Calle:</p>
        <p>{{usuario.calle}}</p>
    </div>

    <div class="col">
        <p class="info">Número:</p>
        <p>{{usuario.numero}}</p>
    </div>
    </div>

    <div class="row">
        <div class="col">
        <p class="info">Piso:</p>
        <p>{{usuario.piso}}</p>
    </div>

    <div class="col">
        <p class="info">Puerta:</p>
        <p>{{usuario.puerta}}</p>
    </div>

    <div class="col">
        <p class="info">Localidad:</p>
        <p>{{usuario.localidad}}</p>
    </div>

    <div class="col">
        <p class="info">Código Postal:</p>
        <p>{{usuario.codPostal}}</p>
    </div>
  </div>

    <div class="row">
        <div class="col">
        <p class="info">Provincia:</p>
        <p>{{usuario.provincia}}</p>
    </div>

        <div class="col">
            <p class="info">País:</p>
            <p>{{usuario.pais}}</p>
        </div>
  
    </div>
    <div class="descripcion">
        <p class="info">Detalles</p>
        {{usuario.descripcion}}
    </div>
 </div>


</div>